body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section {
    background: #dddcda;
    width: 100%;
    height: 100vh;
    position: relative;
}

.logo {
    position: relative;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo span:before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #000;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate .5s linear forwards;
}

.logo span:nth-child(1) {
    transform: rotate(0deg);
}

.logo span:nth-child(2) {
    transform: rotate(90deg);
}

.logo span:nth-child(3) {
    transform: rotate(180deg);
}

.logo span:nth-child(4) {
    transform: rotate(270deg);
}


@keyframes animate{
    0% {
        transform: scaleX(0)
    }
    100% {
        transform: scaleX(1);
    }
}

.logo span:nth-child(1):before {
    animation-delay: .5s;
}

.logo span:nth-child(2):before {
    animation-delay: 1s;
}

.logo span:nth-child(3):before {
    animation-delay: 1.5s;
}

.logo span:nth-child(4):before {
    animation-delay: 2s;
}

/* erotica logo */
#Layer_1 {
    font-size: 50px;
    width: 100%;
    height: 100%;
    font-weight: 600;
}

@keyframes logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#E, #R, #O, #T, #I, #C, #A, #dot, #B, #Y {
    stroke: #000;
    stroke-width: 1.5px;
    fill: transparent;
}

#E, #R, #O, #T, #I, #C, #A, #dot, #B, #Y { 
    stroke-dasharray: 0px; stroke-dashoffset: 0px;
}

#E {
    stroke-dasharray: 80px; stroke-dashoffset: -80px;
    animation: E-anim .75s linear 0s forwards;
    animation-delay: 2.3s;
}

#R {
    stroke-dasharray: 62px; stroke-dashoffset: -62px; 
    animation: R-anim .75s linear 0s forwards;
    animation-delay: 2.3s;
}

#O{
    stroke-dasharray: 50px; stroke-dashoffset: -50px; 
    animation: O-anim .75s linear 0s forwards;
    animation-delay: 2.3s;
}

#T {
    stroke-dasharray: 54px; stroke-dashoffset: -54px; 
    animation: T-anim .75s linear 0s forwards;
    animation-delay: 2.3s;
}

#I {
    stroke-dasharray: 33px; stroke-dashoffset: -33px; 
    animation: I-anim .75s linear 0s forwards;
    animation-delay: 2.3s;
}

#C {
    stroke-dasharray: 70px; stroke-dashoffset: -70px; 
    animation: C-anim .75s linear 0s forwards;
    animation-delay: 2.3s;
}

#A {
    stroke-dasharray: 54px; stroke-dashoffset: -54px; 
    animation: A-anim .75s linear 0s forwards;
    animation-delay: 2.3s;
}

#dot {
    stroke-dasharray: 8px; stroke-dashoffset: -8px; 
    animation: dot-anim  .75s linear 0s forwards;
    animation-delay: 2.3s;
}

#B {
    stroke-dasharray: 48px; stroke-dashoffset: -48px; 
    animation: B-anim .75s linear 0s forwards;
    animation-delay: 2.3s;
}

#Y {
    stroke-dasharray: 56px; stroke-dashoffset: -56px; 
    animation: Y-anim .75s linear 0s forwards;
    animation-delay: 2.3s;
}

@keyframes E-anim {
    from {
        stroke-dashoffset: -80px;
    }

    to {
        stroke-dashoffset: 0px;
    }
}

@keyframes R-anim {
    from {
        stroke-dashoffset: -62px
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes O-anim {
    from {
        stroke-dashoffset: -50px;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes T-anim {
    from {
        stroke-dashoffset: -54px
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes I-anim {
    from {
        stroke-dashoffset: -33px
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes C-anim {
    from {
        stroke-dashoffset: -70px
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes A-anim {
    from {
        stroke-dashoffset: -54px
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dot-anim {
    from {
        stroke-dashoffset: -8px;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes B-anim {
    from {
        stroke-dashoffset: -48px;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes Y-anim {
    from {
        stroke-dashoffset: -56px;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.wrapper {
    opacity: 0;
}

.wrapper--active {
    opacity: 1;
}

.set img {
    width: 130px;
    height: 100px;
}

.set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.set div {
    position: absolute;
    display: block;
    z-index: 10;
}

.set div:nth-child(1) {
    left: 20%;
    animation: falling-bras 15s infinite linear;
    animation-delay: -7s;
}

.set div:nth-child(2) {
    left: 35%;
    animation: falling-bras 17s infinite linear;
    animation-delay: -5s;
}

.set div:nth-child(3) {
    left: 70%;
    animation: falling-bras 12s infinite linear;
    animation-delay: -3s;
}

.set div:nth-child(4) {
    left: 0%;
    animation: falling-bras 14s infinite linear;
    animation-delay: -10s;
}
.set div:nth-child(5) {
    left: 85%;
    animation: falling-bras 20s infinite linear;
    animation-delay: -15s;
}
.set div:nth-child(6) {
    left: 50%;
    animation: falling-bras 23s infinite linear;
    animation-delay: -9s;
}
.set div:nth-child(7) {
    left: 10%;
    animation: falling-bras 14s infinite linear;
}
.set div:nth-child(8) {
    left: 60%;
    animation: falling-bras 21s infinite linear;
    animation-delay: -1s;
}

.set div:nth-child(9) {
    left: 15%;
    animation: falling-bras 10s infinite linear;
}

@keyframes falling-bras {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(45deg);
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translateX(-20px) rotate(45deg);
    }
    40% {
        transform: translateX(-10px) rotate(90deg);
    }
    60% {
        transform: translateX(20px) rotate(135deg);
    }
    80% {
        transform: translateX(-20px) rotate(180deg);
    }
    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.set2 {
    transform: scale(2) rotateY(180deg);
    z-index: 10;
    filter: blur(2px);
}

.set3 {
    transform: scale(.8) rotateX(180deg);
    z-index: 10;
    filter: blur(4px); 
}